body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.footer {
    width: 1224px;
    height: 253px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__title {
        font-size: 24px;
        margin-bottom: 40px;
    }
    
    &__logos {
        display: flex;
        gap: 50px;
    }
    
    .logo {
        /* Стили для логотипов */
    }
}
